*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color:#2a2a2a6f;
    --second-bg-color:#202020;
    --text-color:#c0c0c0;
    --second-text-color:#ccc;
    --main-color:#33ffff;
    --big-font:5rem;
    --h2-font:3rem;
    --p-font:1.1rem;
}
body{
    background: rgb(14,14,14);
    background: linear-gradient(0deg, rgba(14,14,14,1) 13%, rgba(155,155,155,1) 47%, rgba(14,14,14,1) 76%);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
header{
    position: fixed;
    top:0; left: 0; right: 0;
    background: #0e0e0e;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.logo{
    width: 16vh;
  
  
}




header .navbar ul{
    list-style: none;

}
header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color:var(--text-color);

}

header .navbar ul li a:hover{
   

   color: cyan;
   border-radius: 5px;
   box-shadow: 0 0 5px #33ffff,
               0 0 5px #66ffff;
}
.fa-plus{
   margin-left: 10px;
   color:var(--main-color);
}

header .navbar ul li ul li a:hover{
    box-shadow: none;
}



header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
   
    display: none;
    
    

}

header .navbar ul li ul li{
    margin-top: 10px;
    width: 100%;
    border-top: 1 px solid rgba(0,0,0,.1);
    
    


}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}
header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
   display: initial;
   top: 40px;

}

#menu-bar{
    display: none;
}

  

header label{
    font-size: 20px;
    color:var(--main-color);
    cursor: pointer;
    display: none;
    margin-right: 20px;

}


@media(max-width:991px) {

    header{padding: 20px;
    }
    header label{
        display: initial;

    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #0e0e0e;
        border-top: 1 px solid rgba(0,0,0,.1);
        display: none;
    }
    header .navbar ul li{
        width: 100%;
        margin-bottom: 35px;
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
        

    }
    header .navbar ul li ul li{
        background: #0e0e0e;
    
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
        
    }
    #menu-bar:checked~.navbar{
        display: initial;
    }



}

.about{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;

}
.content img{
    height: auto;
    width: 600px;
    max-width: 100%;
    margin-bottom: 20vh;
    filter: drop-shadow(0 0 20px #191919);
    border-radius: 25% 5%;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}
 /*ANIMATION*/
.img0101{
   
    height: 10vh;
    
    transform: translate(-50%, -50%);
    animation: myfirst 5.5s infinite linear;
    animation-direction: alternate-reverse;
    
    

    
    
}

/*KEYFRAMES*/
 
@keyframes myfirst{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-0%, -0%) rotate(360deg);
    }
}


.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
   
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}
.text h1{
    color: var(--main-color);
    font-size: 85px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-family: monospace;
    letter-spacing: 5px;


}
.text h5{
    color: aliceblue;
    font-size: 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -80px;

}

.text p{
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;

}
button{
    background-color:var(--main-color) ;
    color: black;
    border: 2px solid transparent;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5vh;
    
}
/*ANIMATION */
button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: .4s;
    cursor: pointer;
    border-radius: 30px;
   box-shadow: 0 0 5px #33ffff,
               0 0 5px #66ffff;
}
@media screen and(max-width:1180px) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
        margin-top: 40vh;
    }


    
}
@media screen and(max-width:650px){

    .about{
        position: fixed;
        top: 150px;
        
    }
    .content img{
        margin-bottom: 35px;
        
    }
   

    
    .text h1{
        font-size: 60px;
        margin-bottom: 25px;

    }
    .card-03{
        flex: 100%;
        max-width: 700px;
    }

    

}

.fa-facebook{
   
    text-decoration: none;
    color: var(--main-color);
}
.fa-facebook:hover{
    color:#1e55cd ;
}

.fa-instagram{
  
    text-decoration: none;
    color:var(--main-color);
}
.fa-instagram:hover{
    color: #e02323;
}


.fa-linkedin{
  
   text-decoration: none;
   color: var(--main-color);
    
}

.fa-linkedin:hover{ 
    color:#fff;
}
.contact{
    display: flex;
    justify-content: space-around;
    margin-top: 1vh;
    width: 200px;
    
}



.footer{
    display: flex;
    justify-content:center;
}

.kontakt{
    color:var(--second-text-color);
    font-size: 3vh;
}

.copy{
    color:var(--second-text-color);
    font-size: large;
    display: block;
    margin-top: 2vh;
    display: flex;   
    justify-content: center;
}


@media (prefers-color-scheme:dark) {
    body{
    background: linear-gradient(0deg, rgba(14,14,14,1) 13%, rgba(73,64,64,1) 44%, rgba(14,14,14,1) 76%);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;}

        
    
}











